/** Classname for header UL element */
.portfolioHeader {
    list-style-type: none;
    // box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 0.25rem;

    ul {
        height: 100%;
        padding: 2rem 2rem;
        width: 100%;
    }

    li {
        font-size: 1.5em;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        cursor: pointer;
        border-radius: 0.25rem;
        font-weight: bold;
        outline-offset: 4px;
        // box-shadow: 2px 3px 0px 0px rgb(0 0 0 / 0.2);
        box-shadow: -5px -5px 10px theme('colors.light' / 25%), 5px 5px 10px rgba(0, 0, 0, 0.6);
        align-items: center;

        &[data-disabled]:not([data-disabled="true"]):hover {
            color: black;
            background-color: theme('colors.primary');
        }

        &[data-disabled]:not([data-disabled="true"]){
            &:hover {
                box-shadow: -5px -5px 10px theme('colors.light' / 20%), 10px 10px 10px rgba(0, 0, 0, 0.8);
                // box-shadow: 5px 6px 0px 0px theme('colors.primary-compliment');
            }
        }

        &[data-disabled="true"] {
            color: gray;
            cursor: auto;
        }

        a {
            padding: 0.5rem 1.5rem;
            display: flex;
            gap: 0.5rem;
        }
    }
}

.name-header {
    box-shadow: 4px 6px 0px 0px rgb(0 0 0 / 0.2);
}

@media only screen and (max-width: 1295px) {
    .portfolioHeader {
        li {
            a {
                padding: 0.2rem 0.5rem;
            }
            font-size: 1.4em;
        }
    }
}

@media only screen and (max-width: 1024px) {
    .portfolioHeader {
        transition: all 0.5s ease-in-out;
        width: 100%;
        padding: 0;
        li {
            box-shadow: unset;
            width: 100%;
            border-radius: unset;

            a {
               padding: 0 1.25rem; 
            }

            &[data-disabled]:not([data-disabled="true"]):hover {
                color: black;
                background-color: theme('colors.primary');
            }
    
            &[data-disabled]:not([data-disabled="true"]){
                &[data-active]:not([data-active="false"]) {
                    box-shadow: unset;
                }
            }

            &[data-disabled]:not([data-disabled="true"]):not([data-active="true"]){
                &:hover {
                    box-shadow: unset;
                }
            }
    
            &[data-disabled="true"] {
                color: gray;
                cursor: auto;
            }
        }
    }
}