.portfolioHeader {
    li {
        &[data-disabled]:not([data-disabled="true"]):hover {
            color: black;
            background-color: theme('colors.primary');
        }
    
        &[data-disabled="true"] {
            color: gray;
        }
    
        &[data-active="true"] {
            color: theme('colors.primary');
            text-decoration: underline;
        }
    }
}


/** Classname for header UL element */
.portfolioHeader {
    list-style-type: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    background-color: theme('colors.dark');
    z-index: 100;

    ul {
        height: 100%;
        width: 100%;
    }

    li {
        font-size: 1.5em;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        cursor: pointer;
        border-radius: 0.25rem;
        font-weight: bold;
        outline-offset: 4px;
        align-items: center;

        &[data-disabled="true"] {
            cursor: auto;
        }

        a {
            padding: 0.5rem 1.5rem;
            display: flex;
            gap: 0.5rem;
        }
    }
}

@media only screen and (max-width: 1295px) {
    .portfolioHeader {
        li {
            a {
                padding: 0.2rem 0.5rem;
            }
            font-size: 1.4em;
        }
    }
}

@media only screen and (max-width: 1023px) {
    .portfolioHeader {
        transition: all 0.5s ease-in-out;
        width: 100%;
        padding: 0;
        li {
            width: 100%;
            border-radius: unset;
            font-size: 2em;

            a {
               padding: 0 1.25rem; 
            }
    
            &[data-disabled="true"] {
                cursor: auto;
            }
        }
    }
}