@import "../../../../styles/transitions.scss";

.aboutMeContainer {
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
}

.hobbyContainer {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.animationContainer {
    position: absolute;
    transition-property: all;
    transition-timing-function: ease-in-out;
    transition-duration: 900ms;
    height: 100%;
    width: 100%;
    border-radius: 0.5rem;
    background-color: theme('colors.dark-accent');

    &[data-active="false"] {
        opacity: 0.2;
    }

    &[data-active="true"] {
        transform: unset;
        opacity: 1;
    }
}

.mapBackground {
    background: url("/images/home/aboutme/boise.jpg");
    
}

.collegeSection {
    background: url("/images/home/aboutme/boise-state-logo.png");
    background-size: 60%;
    background-position: 100% 25%;
    background-repeat: no-repeat;
    opacity: 0.2;
}

.employeeSection {
    background: url("/images/home/aboutme/micron-logo.png");
    background-size: 60%;
    background-position: 100% 45%;
    background-repeat: no-repeat;
    opacity: 0.2;
}