@import "../../../styles/transitions.scss";

.animationContainer {
    position: absolute;
    transition-property: all;
    transition-timing-function: ease-in-out;
    transition-duration: 1s;
    width: 100%;
    border-radius: 0.5rem;

    &[data-active="false"] {
        opacity: 0;
    }

    &[data-active="true"] {
        transform: unset;
        opacity: 1;
    }
}

.superpowerCard {
    background-color: theme('colors.dark-accent');
    border-radius: 0.5rem;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 5rem;
    box-sizing: border-box;

    .firstCol {
        padding: 0.75rem;
        display: flex;
        align-items: center;

        span {
            max-height: 100%;
        }
    }

    .secondCol {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
        padding: 0.5rem 0.5rem 0.5rem 0;
        .firstRow {
            font-weight: bold;
            font-size: larger;
        }

        .secondRow {
            background-color: theme('colors.dark');
            border-radius: 0.5rem;
            .innerBar {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                height: 100%;
                border-radius: 0.5rem;
                background-color: theme('colors.primary');

                p {
                    margin-right: 0.25rem;
                    font-weight: bold;
                    font-style: italic;
                    font-size: medium;
                    color: theme('colors.dark');
                }
            }
        }
    }
}

.superpowerContainer {
    height: 100%;
    max-height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 1fr);

    .title {
        font-size: 3rem;
        font-weight: bold;
        text-align: center;
        margin-bottom: 1rem;
    }

    .cardContainer {
        height: 100%;
        grid-row-start: 2;
        grid-row-end: 8;
        overflow-y: auto;
        padding: 0 1rem 0 1rem;
    }
}

@media only screen and (min-width: 768px) {
    .superpowerContainer {
        grid-template-columns: 1fr 1fr;

        .title, .cardContainer {
            grid-column-start: 1;
            grid-column-end: 3;
        }

        .cardContainer {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: repeat(10, 6rem);
            gap: 0.5rem;
        }
    }

    .superpowerCard {
        grid-template-rows: 6rem;

        .secondCol {
            padding: 0.75rem 0.75rem 0.75rem 0;
        }

        .firstRow {
            p {
                font-size: 1.5rem;
            }
        }
    }
}

@media only screen and (min-width: 1024px) {
    .superpowerContainer {
        .title {
            font-size: 3.75rem;
        }
    }
}