.fullscreenHeight {
    height: 100lvh;
}

.aboutMe, .superpowers {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.homePage {
    width: 100%;
    height: fit-content;
    overflow: hidden;
}